.contacts {
  &--background {
    background-color: $basic-light;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 29px;
  padding-bottom: 26px;


  @media (min-width: $tablet-width) {
    padding: 65px 41px 45px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    background-color: $basic-white;
    top: 95px;
    left: 30px;
    padding: 64px 89px 45px 76px;
    z-index: 3;
  }
}

.contacts__title {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;
  font-weight: normal;
  padding: 0 10px 0 0;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__line-space {
  @media (min-width: $tablet-width) {
    line-height: 50px;
  }
}

.contacts__location-wrap {
  width: 100%;
  height: 362px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__location {
  display: block;
  object-fit: cover;
  width: 100%;
  position: absolute;
  z-index: 2;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__location-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
