.example {
  background-color: $basic-light-grey;
  // padding-top: 27px;
  // padding-bottom: 31px;


  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-light-grey;
    min-height: 656px;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__stats-list {
  list-style: none;
  margin: 0 0 42px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__result {
  font-family: $Oswald;
  color: $basic-black;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__description--cost,
.example__result--cost {
  font-family: $Oswald;
  color: $basic-black;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.example__range {
  text-align: center;

  @media (min-width: $desktop-width) {
    text-align: right;
  }
}
