.goal__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.goal__item {
  background-color: $basic-light;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;
  position: relative;
  min-height: 266px;

  &--weight-loss::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background: url("../img/icons/slim-cat.svg") no-repeat;
    top: 20px;
    left: 20px;
    background-size: contain;
  }

  &--weight-gain::before {
    content: "";
    width: 67px;
    height: 50px;
    position: absolute;
    background: url("../img/icons/muscle-cat.svg") no-repeat;
    top: 25px;
    left: 15px;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 0 53px 53px;
    min-height: 372px;
    margin-bottom: 30px;

    &--weight-loss::before {
      width: 207px;
      height: 207px;
      top: 80px;
      left: 63%;
      background-size: contain;
    }

    &--weight-gain::before {
      width: 268px;
      height: 200px;
      top: 90px;
      left: 58%;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    width: calc(50% - 80px / 2);
    padding: 77px 51px 55px 52px;

    &--weight-loss::before {
      width: 100px;
      height: 100px;
      top: 40px;
      left: 52px;
    }

    &--weight-gain::before {
      width: 134px;
      height: 100px;
      top: 40px;
      left: 42px;
    }
  }
}

.goal__title {
  font-family: $Oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic-black;
  font-weight: normal;
  padding: 0 0 0 71px;
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 26px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 162px;
    margin: 0 0 73px 0;
  }
}

.goal__text {
  padding: 0 0 22px 0;
  border-bottom: 1px solid $special-grey-3;
  margin: 0 0 20px 0;
  min-height: 96px;

  @media (min-width: $tablet-width) {
    width: 52%;
    border: none;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 28px 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 0 4px 0;
  }
}

.goal__catalog-link {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
