.main-nav__list {
  list-style: none;
  font-family: $Oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  color: $basic-black;
  font-weight: 500;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
