.page-footer {
  background-color: $basic-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 22px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
  }
}

.page-footer__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo-text {
  margin-top: 39px;
  margin-bottom: 28px;
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__list {
  margin: 0;
}
