.page-footer {
  background-color: $basic-light;
  text-align: center;
  padding-top: 39px;
}

.page-footer__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.logo-text {
  margin-bottom: 32px;
}
