.page-header {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
