.product {
  border-bottom: 1px solid $special-grey;
  padding-bottom: 25px;

  &__heading-link,
  &__heading {
    font-family: $Oswald;
    font-size: 16px;
    line-height: 20p;
    font-weight: normal;
    text-transform: uppercase;
    color: $basic-black;
  }

  &__info {
    font-size: 12px;
    line-height: 16px;
  }

}
