.product {
  border-top: 1px solid $special-grey;
  padding: 6px 0 24px;
  text-align: center;

  &:last-child {
    padding: 0 0 24px;
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;


    &:not(:last-child) {
      border: none;
      background: linear-gradient(to bottom, $basic-white 81px, $basic-light 81px);
    }

    &:last-child {
      padding-bottom: 30px;
      border: 2px solid $special-grey;
      margin-top: 81px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }
}

.product__wrap {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 37px 0 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 36px 0 37px;
  }
}

.product__heading {
  grid-column: 2/3;
  justify-self: left;
  text-align: left;
  width: 76px;
  margin: 15px 0 11px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 130px;
    margin: 30px 0 12px 62px;
  }

  @media (min-width: $desktop-width) {
    margin: 32px 0 14px 22px;
  }
}

.product:nth-child(odd) .product__img {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    width: 163px;
    height: 174px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 28px;
  }
}

.product:nth-child(even) .product__img {
  @media (max-width: $mobile-width-only) {
    margin-top: 15px;
  }

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 172px;
    height: 201px;
  }
}

.product__img {
  object-fit: contain;
}

.product__img-link {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  vertical-align: baseline;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 168px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    width: 172px;
    margin-bottom: 5px;
  }
}

.product__link {
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    min-width: 248px;
  }

  @media (min-width: $desktop-width) {
    min-width: 168px;
  }
}

.product__heading-link,
.product__heading {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.product__info {
  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.product:last-child .product__wrap {
  display: block;
}

.product:last-child .product__heading {
  width: 100%;
  text-align: center;
  margin: 78px 0 8px;
  position: relative;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 159px 0 22px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 159px 0 24px;
  }
}

.product:last-child .product__heading::before,
.product:last-child .product__heading::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: $special-grey-5;
  top: -39px;
  left: 125px;

  @media (min-width: $tablet-width) {
    width: 60px;
    top: -79px;
    left: 93px;
  }

  @media (min-width: $desktop-width) {
    top: -80px;
    left: 55px;
  }
}

.product:last-child .product__heading::after {
  transform: rotate(90deg);
}

.product:last-child .product__info {
  margin: 0 0 21px 0;
  font-size: 12px;
  line-height: 16px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 84px 0;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 88px 0;
  }
}
