$basic-green: #68b738;
$basic-dark-green: #5da132f1;
$basic-light: #f2f2f2;
$basic-black: #000000;
$basic-text: #444444;
$basic-white: #ffffff;
$basic-light-grey: #eaeaea;
$basic-dark-grey: #444444;
$special-black: #111111;
$special-grey: #ebebeb;
$special-grey-2: #cdcdcd;
$special-grey-3: #d9d9d9;
$special-grey-4: #dcdcdc;
$special-grey-5: #d3d3d3;
$special-border-grey: #e6e6e6;
$special-border-grey-2: #e7e7e7;
$special-dark-grey: #222222;
$green-button-hover: #5eaa2f;
$opacity-white: rgba(255, 255, 255, 0.3);
$special-logo-grey: rgb(102, 102, 102);

$Oswald: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1260px;
$mobile-width-only: 767px;
// $button-tablet-width: 248px;
// $button-desktop-width: 168px;
