$basic-green: #68b738;
$basic-light: #f2f2f2;
$basic-black: #000000;
$basic-text: #444444;
$basic-white: #ffffff;
$basic-light-grey: #eaeaea;
$basic-dark-grey: #444444;
$special-black: #111111;
$special-grey: #ebebeb;
$special-grey-2: #cdcdcd;
$special-grey-3: #d9d9d9;
$special-dark-grey: #222222;

$Oswald: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1260px;
$mobile-width-only: 767px;
