$basic-green: #68B738;
$basic-light: #F2F2F2;
$basic-black: #000000;
$basic-text: #444444;
$basic-white: #ffffff;
$basic-light-grey: #EAEAEA;
$basic-dark-grey: #444444;
$special-black: #111111;
$special-grey: #EBEBEB;
$special-grey-2: #CDCDCD;
$special-grey-3: #D9D9D9;
$special-dark-grey: #222222;



$Oswald: "Oswald", Arial, sans-serif;
